<div fxLayout="row" fxLayoutAlign="center start" style="height: 100%; padding: 15px;">
  <mat-card fxFlex.lt-md="100" fxFlex.md="90" fxFlex.gt-md="85">
    <mat-card-header>
      <mat-card-title>Dynamic Table</mat-card-title>
      <mat-card-subtitle>Demo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="mat-h2">Multiple Select</span>
      <ngx-mat-dynamic-table-container [tableData$]="data$" [columns]="columns" filter="true" export="true"
        (rowClicked)="rowData($event)" rowClick="true" fileName="Test" optionalColumns="true" multiple="true"
        (selectedRows)="selectedRows($event)"></ngx-mat-dynamic-table-container>
    </mat-card-content>
  </mat-card>
</div>