<div fxLayout="column" fxLayoutAlign="start center" style="padding: 20px;">
  <mat-card fxFlex="60">
    <mat-card-header>
      <mat-card-title>Dynamic Table</mat-card-title>
      <mat-card-subtitle>Demo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ngx-mat-dynamic-table-container [tableData$]="data$" [columns]="columns" filter="true" export="true"
      (rowClicked)="rowData($event)" rowClick="true" fileName="Projects"></ngx-mat-dynamic-table-container>
    </mat-card-content>
  </mat-card>
</div>